@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
*{
	margin:0 auto; padding: 0;
	font-family: "Droid Sans Mono";
}
body {
    background-color: #222;
	height: 100%;
	position: relative;
	padding-top: 0%;
	margin: 0 auto;
	text-align: center;
	color:#eee;
	font-size: 100%;
}
div {
	padding-bottom: 2%;
}

.container{
	position: relative;
	padding-top: 35px;
	margin: 0 auto;
	text-align: center;
}
.wrap{

	}
.main{
	display: inline-block;
	background-color: #454545;
	width: 30%;
	height: 50%;
	overflow: auto;
	padding: 1%;
}
.one{
	border-bottom: 10px solid #00CC00;
	border-top: 10px solid #00CC00;
}
.two{
	border-bottom: 10px solid #FF0066;
	border-top: 10px solid #FF0066;
}
.three{
	border-bottom: 10px solid #0099FF;
	border-top: 10px solid #0099FF;
}
.four{
	border-bottom: 10px solid #FF6600;
	border-top: 10px solid #FF6600;

}
.main a{
	color:#fff;
	text-decoration: none;
}
h2{
	color: #fff;
	line-height: 50px;
}
h3{
	color: #fff;
}
p{
	color: #fff;
}
ul{
	color: #fff;
	line-height: 50px;
}
.main .search-form{
	position: relative;
	bottom: 0;
	margin: 10px;
}
